.buscador {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  padding: 4rem 0;
  &__title,
  &__text {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
  }
  &__text {
    font-size: 1.8rem;
    margin-top: 0.3rem;
    text-decoration: underline;
  }
  &__form {
    margin-top: 2.5rem;
    position: relative;
    &__input {
      width: 100%;
      padding: 1.3rem 1rem;
      border-radius: 0.5rem;
      border: none;
      transition: border-radius .5s;
      outline: none;
      color: rgb(134, 134, 134);
      font-family: $main-title;
      font-weight: 700;
      &::placeholder {
        font-family: $main-title;
      }
      &:focus{
        border-radius: 0;

      }
    }
    &__list {
      list-style: none;
      background-color: rgb(255, 255, 255);
      position: absolute;
      width: 100%;
      border: 0.1rem solid #ccc;
      overflow-y: scroll;
      max-height: 30rem;
      &__item {
        display: flex;
        padding: 1.5rem 1rem;
        &__img {
          width: 7rem;
          flex: none;
        }
        &__data {
          margin-left: 1rem;
          &__title {
            font-family: $main-title;
            font-size: 2rem;
            font-weight: 700;
            margin-top: 0.5rem;
          }
          &__text {
            font-family: $main-font;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  &__button {
    margin-top: 2rem;
  }
}
